header {
    background-color: #ffd25e; /* Cor de fundo */
    padding: 20px 0;
    display: flex;
    align-items: center; /* Alinha verticalmente os itens no centro */
}

.container1{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center; /* Alinha os itens do container */
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Alinha os itens da lista em linha */
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #000000; /* Cor dos links */
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline; /* Efeito ao passar o mouse */
}
header {
    background-color: #ffd25e; /* Cor de fundo */
    padding: 20px 0;
    display: flex;
    align-items: center; /* Alinha verticalmente os itens no centro */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center; /* Alinha os itens do container */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Alinha os itens da lista em linha */
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #000000; /* Cor dos links */
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline; /* Efeito ao passar o mouse */
}

footer {
    display: flex;
    align-items: center; /* Alinha verticalmente os itens */
    padding: 20px;
    background-color: #ffd25e; /* Cor de fundo do footer (opcional) */
}
    
.info {
    display: flex;
    flex-direction: column; /* Empilha os textos verticalmente */
    margin-right: 20px; /* Espaçamento entre os textos e a imagem */
}
    
.FundoSenai {
    height: 350px; /* Ajuste a altura da imagem de fundo */
}














/* Container do formulário */
.form-container {
    width: 60%;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
    text-align: center;
    font-size: 2rem;
    color: #ffd25e;
}

.form-container p {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 30px;
}

/* Estilo dos grupos de formulário */
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-group textarea {
    resize: vertical;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 1.1rem;
    background-color: #ffd25e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ffd25e;
}